<nav>
  <div class="site-title">
    <a href="/">
      <h1>E-VVSkonsult</h1>
    </a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/heat-loss">Heat loss calculation</a></li>
    <li><a href="/beskrivningplus">Beskrivning+</a></li>
    <li><a href="/about">About me</a></li>

  </ul>
</nav>