<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

      <div class="about content">
        <h2>About me:</h2>
        <p>Welcome to my website.</p>
        <p>My name is Pooya. I'm a VVS-ingenjör interested in coding.</p>
        <p>Below you find my CV</p>

      </div>
      <%- include('./partials/footer.ejs') %>
  </body>

</html>